In [2]:
import pandas as pd

In [20]:
data = pd.read_csv('data_partial_finished.txt', delimiter = '\t')

In [21]:
data.head()

,tripduration,starttime,stoptime,start.station.id,start.station.name,start.station.latitude,start.station.longitude,end.station.id,end.station.name,end.station.latitude,end.station.longitude,bikeid,usertype,birth.year,gender,start_neighborhood,start_borough,end_neighborhood,end_borough
3,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.71775,-73.95600,3107,Bedford Ave & Nassau Ave,40.72312,-73.95212,16345,Subscriber,1986.0,2,Greenpoint,Brooklyn,Greenpoint,Brooklyn
4,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave,40.74674,-74.00776,347,Greenwich St & W Houston St,40.72885,-74.00859,25210,Customer,NaN,0,Chelsea and Clinton,Manhattan,Greenwich Village and Soho,Manhattan
5,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave,40.73902,-74.00264,212,W 16 St & The High Line,40.74335,-74.00682,15514,Customer,NaN,0,Greenwich Village and Soho,Manhattan,Chelsea and Clinton,Manhattan
6,672,7/1/2016 00:00:45,7/1/2016 00:11:57,459,W 20 St & 11 Ave,40.74674,-74.00776,347,Greenwich St & W Houston St,40.72885,-74.00859,15444,Subscriber,1991.0,1,Chelsea and Clinton,Manhattan,Greenwich Village and Soho,Manhattan
7,466,7/1/2016 00:00:49,7/1/2016 00:08:35,128,MacDougal St & Prince St,40.72710,-74.00297,250,Lafayette St & Jersey St N,40.72456,-73.99565,14676,Subscriber,1989.0,1,Greenwich Village and Soho,Manhattan,Greenwich Village and Soho,Manhattan

In [5]:
data_new = data.values

In [16]:
data_new

array([[191, '7/1/2016 00:00:19', '7/1/2016 00:03:31', ..., 'Brooklyn',
        'Greenpoint', 'Brooklyn'],
       [687, '7/1/2016 00:00:24', '7/1/2016 00:11:52', ..., 'Manhattan',
        'Greenwich Village and Soho', 'Manhattan'],
       [609, '7/1/2016 00:00:31', '7/1/2016 00:10:40', ..., 'Manhattan',
        'Chelsea and Clinton', 'Manhattan'],
       ...,
       [552, '9/30/2016 23:59:27', '10/1/2016 00:08:40', ..., 'Brooklyn',
        'Northwest Brooklyn', 'Brooklyn'],
       [1117, '9/30/2016 23:59:28', '10/1/2016 00:18:06', ..., 'Brooklyn',
        'Northwest Brooklyn', 'Brooklyn'],
       [1107, '9/30/2016 23:59:51', '10/1/2016 00:18:18', ..., 'Brooklyn',
        'Northwest Brooklyn', 'Brooklyn']], dtype=object)

In [7]:
data.shape

(4586616, 19)

In [8]:
mapdata = pd.read_csv('address_map.txt', delimiter = '\t')

In [9]:
mapdata[0:5]

,X,latitude,longitude,returned.address,zipcode,neighborhood,borough
1,1,40.74674,-74.00776,"550-598 W 20th St, New York, NY 10011, USA",10011,Chelsea and Clinton,Manhattan
2,2,40.73029,-73.99076,"470 Lafayette St, New York, NY 10003, USA",10003,Lower East Side,Manhattan
3,3,40.71775,-73.95600,"185-195 N 8th St, Brooklyn, NY 11211, USA",11211,Greenpoint,Brooklyn
4,4,40.73902,-74.00264,"135-137 Greenwich Ave, New York, NY 10014, USA",10014,Greenwich Village and Soho,Manhattan
5,5,40.72710,-74.00297,"27-39 Macdougal St, New York, NY 10012, USA",10012,Greenwich Village and Soho,Manhattan

In [10]:
len(mapdata)

638

In [11]:
citymap = {}
for i in range(len(mapdata)):
    citymap[(mapdata.iloc[i,1],mapdata.iloc[i,2])] = (mapdata.iloc[i,5], mapdata.iloc[i,6])

In [12]:
for i in range(1286380, len(data_new)):
    loc1 = (data_new[i][5],data_new[i][6])
    loc2 = (data_new[i][9],data_new[i][10])
    city1 = citymap[loc1]
    city2 = citymap[loc2]
    data_new[i][-4] = city1[0]
    data_new[i][-3] = city1[1]
    data_new[i][-2] = city2[0]
    data_new[i][-1] = city2[1]
    if(i % 500000 == 0):
        print i

1500000
2000000
2500000
3000000
3500000
4000000
4500000

In [22]:
data = pd.DataFrame(data_new, columns = data.columns.values)

In [23]:
data.tail()

,tripduration,starttime,stoptime,start.station.id,start.station.name,start.station.latitude,start.station.longitude,end.station.id,end.station.name,end.station.latitude,end.station.longitude,bikeid,usertype,birth.year,gender,start_neighborhood,start_borough,end_neighborhood,end_borough
4586611,652,9/30/2016 23:59:12,10/1/2016 00:10:04,438,St Marks Pl & 1 Ave,40.7278,-73.9857,434,9 Ave & W 18 St,40.7432,-74.0037,22770,Subscriber,1989,1,Lower East Side,Manhattan,Chelsea and Clinton,Manhattan
4586612,1584,9/30/2016 23:59:17,10/1/2016 00:25:42,229,Great Jones St,40.7274,-73.9938,3100,Nassau Ave & Newell St,40.7248,-73.9475,23654,Subscriber,1981,1,Greenwich Village and Soho,Manhattan,Greenpoint,Brooklyn
4586613,552,9/30/2016 23:59:27,10/1/2016 00:08:40,157,Henry St & Atlantic Ave,40.6909,-73.9961,3429,Hanson Pl & Ashland Pl,40.6851,-73.9779,18868,Subscriber,1970,1,Northwest Brooklyn,Brooklyn,Northwest Brooklyn,Brooklyn
4586614,1117,9/30/2016 23:59:28,10/1/2016 00:18:06,2002,Wythe Ave & Metropolitan Ave,40.7169,-73.9632,418,Front St & Gold St,40.7022,-73.9826,22896,Subscriber,1989,2,Bushwick and Williamsburg,Brooklyn,Northwest Brooklyn,Brooklyn
4586615,1107,9/30/2016 23:59:51,10/1/2016 00:18:18,2002,Wythe Ave & Metropolitan Ave,40.7169,-73.9632,418,Front St & Gold St,40.7022,-73.9826,22300,Subscriber,1982,1,Bushwick and Williamsburg,Brooklyn,Northwest Brooklyn,Brooklyn

In [24]:
data.to_csv("data_with_station_cities.csv", header=True)